<h1>Bookmark Manager</h1>
<h2>Edit bookmark</h2>
<form action="/bookmarks/<%= @bookmark_id %>/edit/confirm" method="post">
  <input type="hidden" name="id" value="<%= @bookmark_id %>">
  Enter a URL: <input type="text" name="url" value="<%= @bookmark.url %>" />
  Enter a title: <input type="text" name="title" value="<%= @bookmark.title %>" />
  <input type="submit" value="Update" />
</form>
