<h1>Bookmark Manager</h1>
<h2>Add a new bookmark</h2>
<form action="/bookmarks" method="post">
  Enter a URL: <input type="text" name="url"/>
  Enter a title: <input type="text" name="title"/>
  <input type="submit" value="Add bookmark"/>
</form>
